.pageContainer {
  max-width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.dropdown {
  justify-content: center;
}

.header {
  text-align: center;
  color: #505050;
}

.aboutText {
  margin-top: 20px;
}
